atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
gevent==20.9.0
greenlet==0.4.17
idna==2.10
ImageHash==4.1.0
iniconfig==1.1.1
iso8601==0.1.13
lxml==4.6.2
m3u8==0.7.1
numpy==1.19.4
packaging==20.4
Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.1.2
PyWavelets==1.1.1
requests==2.24.0
scipy==1.5.4
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
urllib3==1.25.11
websocket-client==0.57.0
websockets==8.1
zope.event==4.5.0
zope.interface==5.2.0
